<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body style="background-image: url('../static/files/images/paper.jpg');">
    <center><h1>Error: Read below for guidance</h1></center>
    <p style="font-family: 'Courier New', Courier, monospace; color: red;">You either did not input username or password, or neither,
    therefore, please <a href="/">go back</a> and do that!!</p>
    <p style="font-family: 'Courier New', Courier, monospace; color: red;">Maybe you have are not signed in ? Then lets <a href="/signup">log you </a>in!</p>
</body>
</html>