<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-family: 'Courier New', Courier, monospace;">SHOE HUB</title>
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/style.css">
    <script src="../static/files/js/bootstrap.bundle.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
</head>
<body style="background-image: url('../static/files/images/paper.jpg');">
    {% include 'nav2.html' %}
    <section class="row">
        <div class="col-md-6">
            <div class="carousel" id="myCarousel" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/files/images/shoes/shoes-2425122__340.jpg" alt="" width="100%" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/files/images/shoes/istockphoto-1436061648-612x612.jpg" alt="" width="100%" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/files/images/shoes/istockphoto-1436061634-612x612.jpg" alt="" width="100%" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/files/images/shoes/istockphoto-1411209215-612x612.jpg" alt="" width="100%" height="350px">
                    </div>
                </div>
                <div>
                    <a href="#myCarousel" class="carousel-control-prev" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#myCarousel" class="carousel-control-next" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="carousel" id="myCarousel2" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../static/files/images/shoes/istockphoto-1406244574-612x612.jpg" alt="" width="100%" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/files/images/shoes/istockphoto-1366410650-612x612.jpg" alt="" width="100%" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/files/images/shoes/istockphoto-1344752596-612x612.jpg" alt="" width="100%" height="350px">
                    </div>
                    <div class="carousel-item">
                        <img src="../static/files/images/shoes/istockphoto-187310279-612x612.jpg" alt="" width="100%" height="350px">
                    </div>
                </div>
                <div>
                    <a href="#myCarousel2" class="carousel-control-prev" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a href="#myCarousel2" class="carousel-control-next" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <p style="font-family: 'Courier New', Courier, monospace;" align="right">{{ c_time }}</p>
    <br>
    <p style="font-family: fantasy;">{{ message }}</p>
    <br>
    <p style="font-family: fantasy;"> {{ message2 }}</p>
    <br>
    <p style="font-size: medium;">{{ message3 }}</p>
    <br><br>
    
</body>
</html>