<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask the test app</title>
</head>
<body style="background-color: antiquewhite;">
    <center><h1>Printing python output on a webpage</h1></center>
    <p style="font-family: fantasy;">{{ message }}</p>
    <br>
    <p style="font-family: fantasy;"> {{ message2 }}</p>
    <br>
    <form action="/process" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="submit" value="submit">
    </form>
    {% if name %}
        <p style="font-family: fantasy;">Hi, {{ name.title() }}, Welcome to my webpage ( ^ _ ^ )</p>
    {% endif %}
</body>
</html>