<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/files/images/s-golden-7030451_640.jpg" type="image/jpg" sizes="32x32">
    <title>Login</title>
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/style.css">
    <script src="../static/files/js/bootstrap.bundle.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
    <script src="https://kit.fontawesome.com/ecc22ccf0c.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('../static/files/images/paper.jpg');">
    {% include 'nav4.html' %}
    <br>
    <p style="font-family:Georgia, 'Times New Roman', Times, serif;color:  rgb(7, 76, 236);font-size: large;" align="center">Login</p>
    <center>
        <div class="col-md-3" align="center" style="background-color: rgb(225, 208, 186); border-radius: 7px;">
            <br><br>
        <form action="/login" method="post" align="center">
            {% if error_message8 %}
                <p style="font-family: 'Courier New', Courier, monospace; color: red;"> {{ error_message8 }}</p>
            {% endif %}
            <input type="email" name="email" placeholder="Enter your email"><br><br><br>
            {% if error_message9 %}
                <p style="font-family: 'Courier New', Courier, monospace; color: red;"> {{ error_message9 }}</p>
            {% endif %}
            <input type="password" name="password" placeholder="Enter your password"><br><br><br>
            {% if error_message7 %}
                <p style="font-family: 'Courier New', Courier, monospace; color: red;"> {{ error_message7 }}</p>
            {% endif %}
            <input type="submit" value="Login" style="font-family: 'Courier New', Courier, monospace; background-color: rgb(12, 205, 12); box-shadow: inset;">
            <br><br>
            <a href="/new_pass" style="font-family: serif;">Forgot Password?</a>
        </form>
        <br><br>
        </div>
    </center>
    <br>
    {% if name %}
        <p style="font-family: fantasy;">Hi, {{ name.title() }}, Welcome to my webpage ( ^ _ ^ )</p>
        <p style="font-family: 'Courier New', Courier, monospace; color: green;">{{ success }}</p>
    {% endif %}

    {% if error_message4 %}
        <p style="font-family: 'Courier New', Courier, monospace;color: red;" align="center"><b>{{ error_message4 }}</b></p>
    {% endif %}

    {% if error_message5 %}
        <p style="font-family: 'Courier New', Courier, monospace; color: red;" align="center">{{ error_message5 }}</p>
    {% endif %}
    
    {% if token_err %}
        <p style="font-family: 'Courier New', Courier, monospace; color: red;" align="center">{{ token_err }}</p>
    {% endif %}
    <br><br>
</body>
</html>