<section class="row">
    <div class="navbar navbar-expand-lg" style="background-color: antiquewhite; position: fixed; top: 0;">
        <a href="/" class="navbar-brand text-dark" style="font-family: fantasy;">
            <img src="../static/files/images/s-golden-7030451_640.jpg" alt=""  width="55px" height="43px" style="border-radius: 7px;">
            SHOE CO™
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="collapse navbar-collapse" id="navbar">
                <a href="/"  class="nav-link active" style="font-family: 'Courier New', Courier, monospace; color: blue;">
                    <span style="font-size: 25px; color: blue;">
                        <i class="fa-solid fa-house"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="ms-auto">
            <div class="navbar-nav">
            {% if f_name %}
                <h3 style="font-family: 'Courier New', Courier, monospace;color: green;">Welcome {{ f_name.title() }}</h3>
            {% endif %}
            <br>
            <a href="/login" class="nav-link" style="color: black;">Logout</a>
            </div>
        </div>
    </div>
</section>