<section class="row">
    <div class="navbar navbar-expand-lg" style="background-color: antiquewhite;">
        <a href="#" class="navbar-brand text-dark" style="font-family: fantasy;">SHOE CO™</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-nav">
            <div class="collapse navbar-collapse" id="navbar">
                <a href="/"  class="nav-link active" style="font-family: 'Courier New', Courier, monospace; color: blue;">
                    <span style="font-size: 25px; color: blue;">
                        <i class="fa-solid fa-house"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>