<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/files/images/s-golden-7030451_640.jpg" type="image/jpg" sizes="32x32">
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/style.css">
    <script src="../static/files/js/bootstrap.bundle.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
    <script src="https://kit.fontawesome.com/ecc22ccf0c.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('../static/files/images/paper.jpg');">
    {% include 'nav3.html' %}
    <br>
    <p style="font-family:Georgia, 'Times New Roman', Times, serif;color:  rgb(7, 76, 236);font-size: large;" align="center">Create  Account</p>
    <center>
        <div class="col-md-3" align="center" style="background-color: rgb(225, 208, 186); border-radius: 7px;">
            <br><br>
         <form id="putForm" action="/signin" method="POST">

            {% if error %}
                <p style="font-family: 'Courier New', Courier, monospace;color: red"><b> {{ error }} </b></p>
            {% endif %}
            {% if error3 %}
                <p style="font-family: 'Courier New', Courier, monospace;color: red;"><b> {{ error3}} </b></p>
            {% endif %}
            {% if error4 %}
                <p style="font-family: 'Courier New', Courier, monospace;color: red;">{{ error4 }}</p>
            {% endif %}
            {% if error7 %}
                <p style="font-family: 'Courier New', Courier, monospace;color: red;">{{ error7 }}</p>
            {% endif %}
            <label for="" style="color: orange;">Name*</label><br>
            <input type="text" id="name" name="name" placeholder="Enter your name"><br><br><br>
            {% if error6 %}
                <p style="font-family: 'Courier New', Courier, monospace; color: red;"> {{ error6 }}</p>
            {% endif %}
            <label for="" style="color: orange;">Email*</label><br>
            <input type="email" name="email" placeholder="Enter your email"><br><br><br>
            {% if error2 %}
                <p style="font-family: 'Courier New', Courier, monospace; color: red;"> {{ error2 }}</p>
            {% endif %}
            {% if error5 %}
                <p style="font-family: 'Courier New', Courier, monospace; color: red;"> {{ error5 }}</p>
            {% endif %}
            <label for="" style="color: orange;">Password*</label><br>
            <input type="password"  id="password" name="password" placeholder="Enter your password"><br><br><br>
            <input type="submit" value="save" onclick="submitForm()" style="color: rgb(35, 37, 35); background-color: rgb(3, 173, 3);">
        </form>
        {% if saved %}
            <p style="font-family: serif; color: green;" align="center">{{ saved }}</p>
        {% endif %}
        <br><br>
       </div>
  
    </center> 
    <p id="successMessage" style="color: green;"></p>
    <br><br><br>

    <p>{{email}}</p>




<center><p style="list-style: disc;">----------------or-----------------</p></center>
<center>
    <div class="col-md-2" style="background-color:rgb(243, 240, 238); border-radius: 7px ;">
        <br><br>
        <span style="font-size: 20px; color: rgb(115, 255, 0);">
            <i class="fa-brands fa-google"></i>
        </span>
        <br><br>
    </div>
</center>
</body>
</html>