<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/files/images/s-golden-7030451_640.jpg" type="image/jpg" sizes="32x32">
    <title>Test Page</title>
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/style.css">
    <script src="../static/files/js/bootstrap.bundle.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
    <script src="https://kit.fontawesome.com/ecc22ccf0c.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('../static/files/images/paper.jpg');">
    <center><h1>Network status</h1></center>
    <a href="/">go back</a>
    <p id="statusMessage"></p>

    <script>
      window.addEventListener('online', updateStatus);
      window.addEventListener('offline', updateStatus);
  
      function updateStatus() {
        var statusMessage = document.getElementById('statusMessage');
  
        if (navigator.onLine) {
          statusMessage.textContent = "You are online!";
        } else {
          statusMessage.textContent = "Oops! You are offline. Please check your network connection.";
        }
      }
  
      // Initial check when the page loads
      updateStatus();
    </script>

    <center>
      <div class="col-md-3" align="center" style="background-color: rgb(225, 208, 186); border-radius: 7px;">
        <br><br>
        {% if name %}
          <p style="font-family: serif;color: green;">Hi {{ name }}</p>
        {% endif %}
        <form action="/test" method="post">
          <i class="fa-solid fa-right-to-bracket fa-beat-fade" style="color: #21e825;font-size: 34px;"></i>&nbsp;
          <input type="text" name="name"  placeholder="Your name" style="border-radius: 7px;">
        </form>
        <br><br>
      </div>
  </center>
  <br><br><br><br><br><br><br>
  <center>
    <p>Dont stress out!!</p>
    <i class="fa-solid fa-face-smile fa-bounce fa-xs" style="color: #fff047; font-size: 200px;"></i>
  </center>
</body>
</html>