<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/files/images/s-golden-7030451_640.jpg" type="image/jpg" sizes="32x32">
    <title>Password_Update</title>
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/files/style.css">
    <script src="../static/files/js/bootstrap.bundle.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
    <script src="https://kit.fontawesome.com/ecc22ccf0c.js" crossorigin="anonymous"></script>
</head>
<body style="background-image: url('../static/files/images/paper.jpg');">
    {% include 'nav5.html' %}
    <br><br>
   <center>
        <div class="col-md-3" style="background-color: rgb(225, 208, 186); border-radius: 7px;;">
            <br><br>
            <form action="/change_password" method="post">
                {% if saved %}
                    <p style="font-family: serif;color: green;"> {{saved}} </p>
                {% endif %}
                {% if error1 %}
                    <p style="font-family: 'Courier New', Courier, monospace;color: red;"><b> {{ error1 }} </b></p>
                {% endif %}
                {% if incorrect %}
                    <p style="font-family: 'Courier New', Courier, monospace;color: red;"> {{incorrect}} </p>
                {% endif %}
                <input type="password" placeholder="Your current password" name="current_pass"  style="border-radius: 7px;">
                <br><br><br>
                {% if error3 %}
                    <p style="font-family: 'Courier New', Courier, monospace;color: red;"> {{error3}} </p>
                {% endif %}
                {% if error4 %}
                    <p style="font-family: 'Courier New', Courier, monospace;color: red;"> {{error4}} </p>
                {% endif %}
                <input type="password" placeholder="New password" name="new_pass" style="border-radius: 7px;">
                <br><br><br>
                <input type="submit" value="Update" style="background-color: aquamarine;border-radius: 7px;">
                <br>
                {% if error2 %}
                    <p style="color: purple;">{{error2}}</p>
                {% endif %}
                <p>{{ email }}</p>
                {% if error8 %}
                    <p style="font-family: serif; color: red;">{{ error8 }}</p>
                {% endif %}
            </form>
            <br><br>
 
        </div>
    </center> 

    <p>{{ name }}</p>
</body>
</html>